
$color_principal:rgb(27,27,27);
$color-fondo:rgb(78, 78, 78);
$color-texto:blanchedalmond;
@mixin general ($largo,$ancho,$fuente){
    height: $largo;
    width: $ancho;
    font-size: $fuente;
}
@mixin general2 ($largo,$ancho){
    height: $largo;
    width: $ancho;
}
body{
    background-color: $color_principal;
}
.wrapper{
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
}
@import "nav-footer";
@import "Index";
@import "Nosotros";
@import "Contacto";
@import "CasaMatriz";
@import "Resenas";
@import "media-kf.scss";



